@import 'nib'

body
  margin 0
  padding 0
  .content
    font-family 'DIN WebLight', sans-serif
    font-weight 100
    text-align center
    width 100%
    h1
      font-weight 100
      .bold
        font-family 'DIN WebMedium', sans-serif
        font-weight 900
    h2
      font-weight 100

  .slides
    width 960px

    .slide
      width 960px
      // display none
      position absolute
      opacity 0
      display block
      transition opacity 0.5s
      &.current
        opacity 1

.container
  position relative
  margin-left auto
  margin-right auto

ul
  list-style-type none

@font-face
  font-family: 'DIN Web'
  font-style: normal
  font-weight: 200
  src: local('DIN WebLight'), local('DINWeb-Light'), url(/fonts/DINWeb-Light.woff) format('woff')

@font-face
  font-family: 'DIN Web'
  font-style: normal
  font-weight: 300
  src: local('DIN Web'), local('DINWeb'), url(/fonts/DINWeb.woff) format('woff')

@font-face
  font-family: 'DIN Web'
  font-style: normal
  font-weight: 400
  src: local('DIN WebMedium'), local('DINWeb-Medium'), url(/fonts/DINWeb-Medium.woff) format('woff')
