@import 'nib'

body
  margin 0
  padding 0
  font-family 'DIN WebLight', sans-serif
  font-weight 100
  .list-ranking
    ul, .details
      box-sizing border-box
      float left
    ul
      width 40%
      li
        margin 0 20px 20px 0
        padding 10px 20px
        // original: background-color #06ba8f
        // 0.8 to white: background-color #cdf1e8
        // 0.9 to white
        background-color #e6f8f3
        border-radius 3px
    .details
      width 60%
  .content
    h1
      font-weight 100
      .bold
        font-family 'DIN WebMedium', sans-serif
        font-weight 900
    h2
      font-weight 100

  .slides
    text-align center
    width 960px

    .slide
      width 960px
      // display none
      position absolute
      opacity 0
      display block
      transition opacity 0.5s
      &.current
        opacity 1
      h1
        font-size 8em
      h2
        font-size 4em
      ul, p
        font-size 2em

.container
  width 100%
  position relative
  margin-left auto
  margin-right auto

ul
  list-style-type none

@font-face
  font-family: 'DIN Web'
  font-style: normal
  font-weight: 200
  src: local('DIN WebLight'), local('DINWeb-Light'), url(/fonts/DINWeb-Light.woff) format('woff')

@font-face
  font-family: 'DIN Web'
  font-style: normal
  font-weight: 300
  src: local('DIN Web'), local('DINWeb'), url(/fonts/DINWeb.woff) format('woff')

@font-face
  font-family: 'DIN Web'
  font-style: normal
  font-weight: 400
  src: local('DIN WebMedium'), local('DINWeb-Medium'), url(/fonts/DINWeb-Medium.woff) format('woff')
