@import 'nib'

greenish  = rgb(79,198,128)
yellowish = rgb(255,245,114)
list-width = 100px


@keyframes urgent
  0%
    background greenish
  80%
    background greenish
  100%
    background yellowish

svg.returns
  margin-left 80px

ul.loans
  list-style none
  padding 0
  li
    margin 5px
    border-radius 3px
    box-shadow 0 1px 3px 0 
    font-size 0.6875em
    .funding_bar
      position relative
      background-color greenish
      height 100%
      &.urgent
        animation urgent 4s infinite alternate
      .hover_mask
        background-color rgba(0,0,0,0)
        z-index 1
        display none
        position absolute
        top 0
        right 0
        bottom 0
        left 0
      .loan_stats
        background-color rgba(255,255,255,0.7)

.loan_stats:hover + .hover_mask, .hover_mask:hover
    display block !important
    background-color rgba(0,0,0,0.3) !important
          
