<head>
  <title>Crowdminr - Bloomberg, for Crowdfunding</title>
</head>

<body>
  {{> layout}}
</body>

<template name="layout">
  <div class="container">
    {{yield}}
  </div>
</template>

<template name="home">
  <header>
    <p>
      <label>Risk Tolerance: </label>
      <select>
        <option value="low">Loud noises scare me</option>
        <option value="medium">I'm prepared to take some risk</option>
        <option value="high">I just want to maximise my expected return</option>
      </select>
    </p>
  </header>
  {{> list-ranking}}
</template>

<template name="list-ranking">
  <div class="list-ranking">
    {{> list}}
  </div>
</template>

<template name="list">
  <ul>
    {{#each loans}}
      {{> item}}
    {{/each}}
  </ul>
</template>

<template name="item">
  <li class="list-item {{current}}">
    <h3>{{title}}</h3>
    <div style="float: right; margin: -15px 30px">
      <p>Estimated net return: {{int_rate}}%</p>
      <p>Estimated risk: {{exp_default_rate}}%</p>
      <p>Place: {{addr_city}}, {{addr_state}}</p>
    </div>
    <div style="clear: both"></div>
    <a href="{{url}}" target="_blank"><div style="text-align: center; background-color: grey; color: blue; padding: 10px">Show me the loan!</div></a>
    <div style="clear: both"></div>
  </li>
</template>

<template name="details">
  <div class="details">
    <h2>Details</h2>
    <p>Insert Fancy d3 graph showing:</p>
    <ul style="list-style-type: circle">
      <li style="padding: 2px; background-color: white">realtime evolution of prices
      <li style="padding: 2px; background-color: white">realtime prediction of closing price/time, ideal time to act
      <li style="padding: 2px; background-color: white">Net Present Value
      <li style="padding: 2px; background-color: white">risk distribution
      <li style="padding: 2px; background-color: white">etc...
    </ul>
    <footer>Current loan is {{loan}}</footer>
    <svg class="detailGraph"></svg>
  </div>
</template>

