<head>
  <title>Crowdminr - Bloomberg, for Crowdfunding</title>
</head>

<body>
  {{> layout}}
</body>

<template name="layout">
  <div class="container">
    {{yield}}
  </div>
</template>

<template name="home">
  <header>
    <p>
      <label>Risk Tolerance: </label>
      <select>
        <option value="low">Loud noises scare me</option>
        <option value="medium">I'm prepared to take some risk</option>
        <option value="high">I just want to maximise my expected return</option>
      </select>
    </p>
  </header>
  {{> list-ranking}}
</template>

<template name="list-ranking">
  <div class="list-ranking">
    {{> list}}
    {{> details}}
  </div>
</template>

<template name="list">
  <ul>
    {{#each loans}}
      {{> item}}
    {{/each}}
  </ul>
</template>

<template name="item">
  <li class="list-item {{current}}">
    <h3>{{title}}</h3>
    <img src="{{picture}}" style="width: 100px">
    <div style="float: right; margin: -15px 30px">
      <p>Platform: {{platform}}</p>
      <p>Estimated net return: {{rate}}%</p>
      <p>Estimated risk: {{risk}}%</p>
    </div>
    <div style="clear: both"></div>
    <img src="images/{{image}}.png" style="float: left; -webkit-transform: scaleX(-1)"/>
    <div style="clear: both"></div>
  </li>
</template>

<template name="details">
  <div class="details">
    <h2>Details</h2>
    <p>Insert Fancy d3 graph showing:</p>
    <ul style="list-style-type: circle">
      <li style="padding: 2px; background-color: white">realtime evolution of prices
      <li style="padding: 2px; background-color: white">realtime prediction of closing price/time, ideal time to act
      <li style="padding: 2px; background-color: white">Net Present Value
      <li style="padding: 2px; background-color: white">risk distribution
      <li style="padding: 2px; background-color: white">etc...
    </ul>
    <footer>Current loan is {{loan}}</footer>
    <svg class="detailGraph"></svg>
  </div>
</template>

<template name="about">
  <div class="slides container">
    <section class="slide" id="title">
      <h1><span class="bold">Crowdmi.nr</span></h1>
      <h2>Bloomberg,<br /> for Crowdfunding</h2>
    </section>
    <section class="slide" id="problem">
      <h2>Finance is being democratised.</h2>
      <h2><span class="bold">But not enough.</span></h2>
      <ul>
        <li>Crowdfunding promises great returns for the rest of us.</li>
        <li>But we can't keep track of the best deals!</li>
      </ul>
    </section>
    <section class="slide" id="solution">
    <h2><span class="bold">Beat the Bankers</span></h2>
    <p>Crowdmi.nr tells you where the <span class="bold">best investments</span>  are <br /> across all major crowdfunding sites <span class="bold">in real time.</span></p>
    </section>
    <section class="slide" id="stack">
      <img src="/images/stack.png">
    </section>
  </div>
</template>
