<template name="list">
  <div class="page_wrapper">
     <div class="alert alert-danger" style="text-align: center; display: none">Loan Fill Frenzy!!!</div>
    <div class="text-align-center" id="risk-widget">
      <p class="risk-appetite">Conservative</p>
      {{#constant}}
      <div id="risk-slider"></div>
      {{/constant}}
      <p class="risk-appetite">Aggressive</p>
      <p><i>&ldquo;{{profile}}&rdquo;</i></p>
    </div>
    <div class="text-align-center" id="loans_column">
      {{#constant}}
      <ul class="loans"></ul>
      {{/constant}}
      {{#if show_button}}
      <button id='see-all-loans' type="button" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-download"></span> See all loans
      </button>
      {{/if}}
    </div>
  </div>
</template> 
