<template name="list">
  <div class="page_wrapper">
    <div class="text-align-center" id="loans_column">
      <div id="risk-widget">
        <p>Conservative</p>
        {{#constant}}
        <div id="risk-slider"></div>
        {{/constant}}
        <p>Aggressive</p>
      </div>
      <p>{{profile}}</p>
      {{#constant}}
      <ul class="loans"></ul>
      {{/constant}}
      {{#if show_button}}
      <button id='see-all-loans' type="button" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-download"></span> See all loans
      </button>
      {{/if}}
    </div>
  </div>
</template> 
