<template name="benefits">
  <div class="joobstrab_area top_area">
    <div class="joobstrap_section sourrounding_wrapper" id="top_center">
      <div class="inner_wrapper">
        <div class="container">
          <div class="row text-center">
            <div class="col-md-4">
              <i class="icon-bar-chart  icon-4x"></i><h5>Smarter Risk Modelling</h5>
              <p>We pull in data everywhere from loan histories, employment trends, stock market feeds and social media, and our cutting-edge machine learning methods give you the most accurate picture of each loan.</p>
            </div>

            <div class="col-md-4">
              <i class="icon-bell  icon-4x"></i><h5>Personalized Alerts</h5>
              <p>Set the returns you want and the risk you can bear in your profile and we'll text or email you when the perfect loans pop up.</p>
            </div>

            <div class="col-md-4">
              <i class="icon-bolt  icon-4x"></i><h5>Real Time</h5>
              <p>Everything from the app to your alerts is kept constantly up-to-date, so you don't have to worry that you're getting stale recommendations.</p>
            </div>

          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</template>
