<template name="blurb">
  <div class="joobstrab_area main_area">
    <div class="joobstrap_section sourrounding_wrapper" id="main_top">
      <div class="inner_wrapper">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h2 class="module-title"><span>We do </span>what we love</h2>
              <p class="lead text-center">Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
              <hr />
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <h5>Dolor sit amet</h5>
              <p>Lorem ipsum dolor sit amet, consectetuer ipsum dolor adipiscing elit, sed diam nonummy nibh euismod. </p>
              <hr />
              <h5>Nonummy nibh</h5>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing  nonummy nibh euismod tincidunt ipsum dolor dolore magna. </p>
            </div>
            <div class="col-md-3">
              <h5>Adipiscing elit?</h5>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt. </p>
              <hr />
              <h5>Lorem ipsum</h5>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing ipsum dolor elit, sed diam nonummy nibh euismod. </p>
            </div>
            <div class="col-md-6">
              <img src="http://placehold.it/450" class="img-responsive" alt="ipad image">
            </div>
          </div>
          <div class="clear"></div>
        </div>
      </div>	
    </div>
    <div class="joobstrap_section sourrounding_wrapper" id="main_center">
      <div class="inner_wrapper">
        <div class="container">
          <div class="row">
            <!-- Central Column -->
            <div class="col-md-8 main_center">
              <div class="row">
                <div class="col-md-12 main_component_area">
                  <h1>The main area</h1>
                  <p class="lead">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
                  <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>  
                  <hr />
                  <div class="row">
                    <div class="col-md-4">
                      <h6>Tation ullamcorper</h6>
                      <p><i class="icon-beaker icon-3x pull-left colored"></i>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                      <hr />
                    </div>

                    <div class="col-md-4">
                      <h6>Lorem ipsum</h6>
                      <p><i class="icon-cogs icon-3x pull-left colored"></i>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                      <hr />
                    </div>

                    <div class="col-md-4">
                      <h6>Dolor sitam</h6>
                      <p><i class="icon-compass icon-3x pull-left colored"></i>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                      <hr />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 main_right">
              <h3 class="module-title"><span>Some</span> Words</h3>
              <img src="http://placehold.it/350" alt="blogger" class="img-circle img-responsive" style="float:right; width:33%; margin:40px 40px 0px 10px;">
              <blockquote><p><i class="icon-quote-left  icon-large pull-left icon-muted"></i> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis. <i class="icon-quote-right  icon-large icon-muted"></i></p> 
              </blockquote>
              <div class="clear"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

