<template name="footer">
  <div class="joobstrab_area" id="contact">
    <div class="joobstrap_section sourrounding_wrapper" style="background-color: #f1f4f5">
      <div class="inner_wrapper">
        <div class="container">
          {{> social}}
          <hr />
          <div class="row">
            <div class="col-md-3">
              <address>
                <strong>Insight Data Science</strong><br>
                154 E Dana St<br>
                Mountain View, CA 94041<br>
                <abbr title="Phone">P:</abbr>(401) 368-0063
              </address>

              <address>
                <strong>Matt Gibb</strong><br>
                <a href="mailto:#">matt@mattgibb.com</a>
              </address>

            </div>
            <div class="col-md-9 google-map-canvas">
              <iframe src="https://mapsengine.google.com/map/u/0/embed?mid=zD7t2tBZ---I.kLJmSrZolWz4" width="640" height="300"></iframe>
            </div>
          </div>
          <hr />
        </div>
      </div>
    </div>
  </div>
</template>
