<template name="social">
  <div class="row">
    <div class="col-md-6">
      <div class="module-block">
        <div class="module-header">
          <h4 class="module-title">Reach <span>out</span></h5>
        </div>
      </div>	
    </div>
    <div class="col-md-4 col-md-offset-2">
      <div class="row">
        <div class="col-md-3">
          <i class="icon-twitter icon-3x"></i>
        </div>

        <div class="col-md-3">
          <i class="icon-facebook icon-3x"></i>
        </div>

        <div class="col-md-3">
          <i class="icon-linkedin icon-3x"></i>
        </div>

        <div class="col-md-3">
          <i class="icon-pinterest icon-3x"></i>
        </div>
      </div>
    </div>
  </div>
</template>

