<template name="team-pictures">
<div class="joobstrab_area bottom_area">
  <div class="joobstrap_section sourrounding_wrapper" id="bottom_center">
    <div class="inner_wrapper">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-align-center">
            <ul class="gallery">
              <li><h5>John Doe</h5><img src="http://placehold.it/350" class="img-responsive" alt="face" /><p><a href="#">Twitter</a> | <a href="#">Facebook</a></p></li>
              <li><h5>Jane Doe</h5><img src="http://placehold.it/350" class="img-responsive" alt="face" /><p><a href="#">Twitter</a> | <a href="#">Facebook</a></p></li>
              <li><h5>Jenny Doe</h5><img src="http://placehold.it/350" class="img-responsive" alt="face" /><p><a href="#">Twitter</a> | <a href="#">Facebook</a></p></li>
              <li><h5>Jason Doe</h5><img src="http://placehold.it/350" class="img-responsive" alt="face" /><p><a href="#">Twitter</a> | <a href="#">Facebook</a></p></li>
              <li><h5>Janine Doe</h5><img src="http://placehold.it/350" class="img-responsive" alt="face" /><p><a href="#">Twitter</a> | <a href="#">Facebook</a></p></li>
              <li><h5>Jordan Doe</h5><img src="http://placehold.it/350" class="img-responsive" alt="face" /><p><a href="#">Twitter</a> | <a href="#">Facebook</a></p></li>
              <li><h5>Joe Doe</h5><img src="http://placehold.it/350" class="img-responsive" alt="face" /><p><a href="#">Twitter</a> | <a href="#">Facebook</a></p></li>
              <li><h5>Jen Doe</h5><img src="http://placehold.it/350" class="img-responsive" alt="face" /><p><a href="#">Twitter</a> | <a href="#">Facebook</a></p></li>
            </ul>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

