<template name="team-blurb">
  <div class="joobstrap_section sourrounding_wrapper text-center" id="main_bottom">
    <div class="inner_wrapper">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="module-title"><span>Meet the</span> Team</h2>
            <p class="lead">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.	</p>
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

